/* common sheared styles */


/* header related styles */
.banner{
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: auto;
    margin-bottom: 0px;
    color: #ffffff;
    text-align: center;
    padding-top: 200px;
}
.banner-title{
    font-size: 32px;
    margin-bottom: 0px;
}
.banner-main-title{
    font-size: 70px;
    max-width: 650px;
    margin-top: 0px;
    text-align: center;
    padding-left: 320px;
}

/* Main related styles */


/* offer related styles */
.offer-section{
    width: 806px;
    height: 806px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
.section-title{
    color: #FF0000;
    font-size: 90px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.section-description{
    color: #FF0000;
    font-size: 24px;
    margin: 0px;
}
.section-subtitle{
    color: #070211;
    font-size: 50px;
    margin: 0 0 15px 0;
}

/* welcome section related styles */


.welcome-section{
    display: flex;
    justify-content: space-around;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.welcome-section-column{
    padding-left: 150px;
}
.welcome-section-img{
    margin-right: 150px;
}
.welcome-section-title{
    color: #ffffff;
    font-size: 65px;
    font-weight: 700;
    max-width: 640px;
    margin-bottom: 0px;
}
.welcome-section-description{
    color: #ffffff;
    font-size: 18px;
}
.btn{
    color: #ffffff;
    background-color: transparent;
    border: none;
}

/* address section related styles */

.address-secton{
    background-color: lightsteelblue;
    width: 1320px;
    height: 380px;
    margin: 100px auto 100px auto;
    border-radius: 10px;
}
.address-container{
    text-align: center;
    padding: 100px;
}
.address{
    font-size: 32px;
    color: #070211;
    margin: 0px;
    padding: 5px;
}
.btn-address-section{
    color: #ffffff;
    background-color: #FF0000;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    height: 55px;
    width: 165px;
    margin-top: 5px;
}

/* best-offer-section related styles */

.best-offer-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1320px;
    height: 465px;
}
/* 1st column */
.bos-first-column{
    width: 395px;
    height: 255px;
    margin: auto;
}
.first-column-subtitle{
    color: #FF0000;
    font-size: 24px;
    margin: 0px;
}
.first-column-title{
    color: #070211;
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}
.first-column-description{
    color: #070211;
    font-size: 20px;
}

/* 2nd column */

.bos-second-column{
    width: 463px;
    height: 463px;
}
/* 3rd column */

.third-first-column{
    width: 276px;
    height: 170px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.bos-img{
    margin-top: 0;
    width: 140px;
    height: 140px;
}
.third-column-title{
    color: #FF0000;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}
.third-column-description{
    color: #070211;
    font-size: 20px;
    width: 276px;
    height: 95px;
    margin-top: 0;
}