/* common sheared styles */


/* header related styles */
.banner{
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: auto;
    margin-bottom: 0px;
    color: #ffffff;
    text-align: center;
    padding-top: 200px;
}
.banner-title{
    font-size: 32px;
    margin-bottom: 0px;
}
.banner-main-title{
    font-size: 70px;
    max-width: 650px;
    margin-top: 0px;
    text-align: center;
    padding-left: 320px;
}

/* Main related styles */


/* offer related styles */
.offer-section{
    width: 806px;
    height: 806px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
.section-title{
    color: #FF0000;
    font-size: 90px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.section-description{
    color: #FF0000;
    font-size: 24px;
    margin: 0px;
}
.section-subtitle{
    color: #070211;
    font-size: 50px;
    margin: 0 0 15px 0;
}

/* welcome section related styles */


.welcome-section{
    display: flex;
    justify-content: space-around;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.welcome-section-column{
    padding-left: 150px;
}
.welcome-section-img{
    margin-right: 150px;
}
.welcome-section-title{
    color: #ffffff;
    font-size: 65px;
    font-weight: 700;
    max-width: 640px;
    margin-bottom: 0px;
}
.welcome-section-description{
    color: #ffffff;
    font-size: 18px;
}
.btn{
    color: #ffffff;
    background-color: transparent;
    border: none;
}

/* address section related styles */

.address-secton{
    background-color: lightsteelblue;
    width: 1320px;
    height: 380px;
    margin: 100px auto 100px auto;
    border-radius: 10px;
}
.address-container{
    text-align: center;
    padding: 100px;
}
.address{
    font-size: 32px;
    color: #070211;
    margin: 0px;
    padding: 5px;
}
.btn-address-section{
    color: #ffffff;
    background-color: #FF0000;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    height: 55px;
    width: 165px;
    margin-top: 5px;
}

/* best-offer-section related styles */

.best-offer-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1320px;
    height: 465px;
}
/* 1st column */
.bos-first-column{
    width: 395px;
    height: 255px;
    margin: auto;
}
.first-column-subtitle, .ap-subtitle{
    color: #FF0000;
    font-size: 24px;
    margin: 0px;
}
.first-column-title, .ap-title, .s-s-title{
    color: #070211;
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}
.first-column-description, .ap-description, .s-s-description{
    color: #070211;
    font-size: 20px;
}

/* 2nd column */

.bos-second-column{
    width: 463px;
    height: 463px;
}
/* 3rd column */

.third-first-column{
    width: 276px;
    height: 170px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.bos-img{
    margin-top: 0;
    width: 140px;
    height: 140px;
}
.third-column-title{
    color: #FF0000;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}
.third-column-description{
    color: #070211;
    font-size: 20px;
    width: 276px;
    height: 95px;
    margin-top: 0;
}

/* holiday section related styles */

.holiday-section{
    margin: auto;
    width: 1320px;
    height: 990px;
}
.pictures{
    background-image: url('../resources/Group\ 75.png');
}
/* .box{
    width: 675px;
    height: 575px;
}
.discount{
    width: 220px;
    height: 220px;
}
.shopping-bag{
    width: 430px;
    height: 430px;
} */

/* awesome portfolio section */

.awesome-portfolio-section{
    width: 1320px;
    height: 1125px;
    margin: auto;
}
.ap-description,{
    width: 895px;
    height: 64px;
}
.img{
    width: 424px;
    height: 450px;
}
.img:hover{
    width: 450px;
    height: 465px;
    border: 5px solid #FF0000;
    border-radius: 5px;
}

/* subscribe section  */

.subscribe-section{
    background-color: plum;
    border-radius: 10px;
    width: 1320px;
    height: 615px;
    margin: 100px auto 0 auto;
    text-align: center;
}
.subscribe-items{
    margin: 100px auto 100px auto;
}
.s-s-description{
    width: 895px;
    height: 64px;
    margin: 30px auto 50px auto;
}

.s-s-img{
    width: 150px;
    height: 150px;
    margin: 50px 0 30px 0;
}
.email-s_btn{
    width: 650px;
    height: 72px;
    margin: 50px 0 50px 0;
}
#email{
    width: 450px;
    height: 52px;
    border-radius: 10px;
    margin-right: 0;
}
.subscribe-btn{
    background-color: #FF0000;
    color: #ffffff;
    border: navy;
    border-radius: 15px;
    width: 200px;
    height: 52px;
    margin-left: 0;
}

/* footer section */

.footer-section{
    background-color: #070211;
    width: 1600px;
    /* height: 600px; */
    margin: 0 auto 0 auto;
}
.f-address{
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    font-size: 24px;
    padding: 100px;
}
.location{
    width: 375px;
    height: 80px;
}
.number{
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.p-number{
    align-items: center;
    margin-bottom: 0;
}
hr{
    width: 1320px;
    color: royalblue;
    margin: auto;
    padding: auto;
}
.img{
    margin: 3px auto 0 auto;
    padding: 3px auto 0 auto;
}
.copyright{
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    font-size: 24px;
    padding: 100px; 
}
.btn-unsubscribe{
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 24px;
}